.App {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 0 80px;
}

.product-title {
  margin: 0 auto;
  max-width: 396px;
}

.product-title h1{
  font-weight: 300;
  font-size: 26px;
  text-align: center;
}
